/* refers to the html with trasparent background*/
.page {
  background-color: rgba(0, 0, 0, 1);
}

figure{
transform: scale(1);
}

figcaption {
color: blue;
}

/* changes all the link colors in the whole page */
a:link {
  color: red;
}

a:visited {
  color: red;
}

#main {
  font-style:italic;
  color:red;
}

#main a:hover {
color: blue;
font-weight:bold;
}

#main ul .selected {
background-color:rgba(0,0,0,0.2);
}

.images {
display:inline-block;
widht:auto;
height:100px;
}
.programming-image {
display:inline-block;
width:100%;
height:100%;
}
.programming-image figcaption{
}

.programming-image img{
transform:scale(0.5);
}

@media only screen and (min-width:680px) and (max-width:1011px){
.images {
  display:grid;
  grid-template-columns: repeat(4,minmax(50%,1fr));
  grid-template-rows: repeat(2, auto);
  grid-auto-flow: column;
  height: auto;
}
.programming-image {display:block; width:25%;}
.programming-image figcaption{}
.programming-image img{}
}

/*grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));*/
@media screen and (min-width:1012px){
.images {
  display:grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  height: auto;
}
.programming-image {display:block; width:25%;}
.programming-image figcaption{}
.programming-image img{}
}

.responsive-nav {
width:100%;
text-align:center
}

.responsive-nav a {
display:block;
padding:1%;
width:30%;
text-decoration:none;
}

.responsive-nav {
float:left;
display:block;
}

@media only screen and (min-width:640px){
.responsive-nav a {display:inline;}
/* display:inline = left to right */
.responsive-nav li {display:inline;
}
}

.list-nav li{
display:inline;
list-style:none;
padding: 2% 0 2% 0;
}

.row {
display: inline-block;
padding: 0.4% 0.5% 0.4% 0.5%;
border: 2px dotted white; 
}

.column {
width: 100%;
background-color:rgba(0,0,0,0.7);
border: 1px solid white; 
}

@media only screen and (min-width:720px){
.row {
  display: flex;
  padding: 0.4% 0.5% 0.4% 0.5%;
  border: 2px dotted white; 
 }
.column {
  width: 100%;
  background-color:rgba(0,0,0,0.7);
  border: 1px solid white; 
  }
}

#contact-wrapper {
  background-color: rgba(0, 0, 0, 0.6);
  width:70%;
  text-align:center;
  padding: 2px 5px;
}

#more-info {
  background-color: rgba(0, 0, 0, 0.6);
}

.body {
  color: white;
  border: 2px dotted black;
  padding: 0;
  background-image: url("images/shapes-repeating.jpg");
}

.header {
  height: 300px;
  padding-bottom: 2%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  text-align: center;
  transform: scale(0.85);
}
@media screen and (min-width:720px){
.header {
  height: 300px;
  padding-bottom: 2%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  text-align: center;
  transform: scale(1);
  }
}

.wrapper {
  display: grid;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("images/flower1.png");
  place-items: center;
  max-width:100%; height:auto;
  height:256px;
}

.hello-icon {
  background-color: transparent;
  width: 6rem;
  height: 7rem;
}

.divider {
  width: 100%;
  border: 3px solid white;
}

.section-title {
  color: white;
  text-align: center;
  background-color: transparent;
  font-size: 3rem;
}

.text-large {
  font-size: 2rem;
}

#interest {
  color:yellow;
}

.section-header {
  border-bottom: 2px solid white;
  font-size: 2rem;
}

.list-large {
  font-size: 2rem;
}

.list-medium {
  font-size: 1.5rem;
}

.star polygon {
  fill: yellow;
  stroke: black;
  stroke-width: 5;
  fill-rule: evenodd;
}

/* turns the background of the footer a transparent black color */
.footer {
  background-color: rgba(0, 0, 0, 0.2);
}

.footer-home {
  color: white;
  font-size: 2rem;
}

